<%= render 'validation_errors', object: @administrator %>

<%= form_for [:admin, @administrator] do |f| %>

  <div class="form-group">
    <label>Primeiro Nome</label><br /> 
    <%= f.text_field :firstname, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Ultimo Nome</label><br /> 
    <%= f.text_field :lastname, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Nome de Usuário</label><br />
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>E-mail</label><br />
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Senha</label><br />
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary pull-right" %>
  </div>

<% end %>
