<div class="container">

  <% if flash[:notice] %>
    <div class="alert bg-success" role="alert">
      <%= flash[:notice] %>
      <% if !@visitor.valid? %>
        <% @visitor.errors.messages.values.each do |errors| %>
          <% errors.each do |msg| %>
            <ul>  
              <li><%= msg %></li>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="col-lg-6">
  <%= form_for [:site, @message] do |f| %>
    <%= fields_for @visitor, @message.visitor do |v| %>

      <div class="form-group">
        <%= v.label :name, 'Nome' %> 
        <%= v.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= v.label :phone, 'Telefone' %> <small>Somente números </small>
        <%= v.text_field :phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= v.label :email, 'Email' %>
        <%= v.text_field :email, class: "form-control" %>
      </div>

    <% end %>

    <div class="form-group">
      <%= f.label :content, 'Mensagem' %><br /> 
      <%= f.text_area :content, class: "form-control", rows: "5" %>
    </div>
    <br />
    <div class="form-group">
      <%= f.submit "Enviar", class: "btn btn-principal pull-right" %>
    </div>

  <% end %>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-2"><strong>Email:</strong></div>
      <div class="col-lg-8">ildabet@hotmail.com</div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-2 col-lg-offset-2"><strong>Social:</strong></div>
      <div class="col-lg-8">                    
        <a href="http://www.facebook.com/ilda.bet" target="_blank">
          <i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 30px;"></i>
        </a>
      </div>
    </div>
  </div>
</div>