<%= form_for [:admin, @setting] do |f| %>
       
  <div class="form-group">
    <label>Título do Site</label><br />
    <%= f.text_field :site_name, class: "form-control", placeholder: "Título que será apresentado" %>
  </div>
                
  <div class="form-group">
    <label>Produtos por página</label><br />
    <%= f.number_field :product_per_page, class: "form-control", placeholder: "10"  %>
  </div>
  <div class="form-group">
    <label>Em manutenção</label> <br />
    <%= f.check_box :under_maintenance %>
  </div>

  <p>
    <%= f.submit "Salvar", class: "btn btn-primary pull-right" %>
  </p>
<% end %>
