<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= link_to 'Log out', logout_path %>
<br />

<%= link_to 'Dashboard', admin_dashboard_index_path %>
<%= link_to 'Administradores', admin_administrators_path %> 
<%= link_to 'Produtos', admin_products_path %>
<%= link_to 'Categorias', new_admin_category_path %>
<%= link_to 'Configurações', new_admin_setting_path %>



<%= yield %>

</body>
</html>
